.pace {
    display: none;
}
.card-item
{
    padding: 0;
}


.main-style {
    min-height: 100vh;
    background: url(../../assets/img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}